$loginprimary : #39CDCC;
$loginbackground: #c4c0c00f;
// Predefined Break-points
$desktop: 1024px;
$tablet: 768px;
$phone: 430px;

@font-face {
    font-family: Avenir Next;
    src: url(../../fonts//AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: Avenir NextBold;
    src: url(../../fonts/AvenirNextLTPro-Bold.otf);
}


.login{
    height: 100vh;
    &-logo-brand{
        height: 10vh;
        width: 50%;
        background-color:$loginbackground;
        
        img{
            padding: 50px 0;
            margin-left: 10%;
        }
    }

    &-container{
        font-family: Avenir Next;
        display: flex;
        align-items: center;
        height: 90vh;

        .left-side{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color:$loginbackground;
            height: inherit;

            .pablo img{
                height: 250px;
                width: 400px;
            }
            
        }
        .right-side{
            // repeated
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-form{
                width: 80%;
                margin: 0 auto;
                height: 350px;

                h1{
                    font-family: Avenir NextBold;
                    color: #213F7D;
                    margin: 0;
                    font-size: 2.5rem;
                }
                .p-details{
                    font-size: 1.1rem;
                    margin-top: 10px;
                }

                .email-form{
                    width: 70%;
                    border: 2px solid 
                    rgba(84, 95, 125, 0.15);
                    border-radius: 5px;
                    margin-bottom: 20px;
                    
                    //repeted
                    input{
                        border: none;
                        outline: none;
                        width: 100%;
                        padding: 10px;
                        background-color: white;

                        &:focus{
                            outline: none; 
                        }

                        &::placeholder{
                            color: 
                            rgba(84, 95, 125, 0.727)
                            ;
                        }
                    }

                }

                .password-form{
                    width: 70%;
                    border: 2px solid 
                    rgba(84, 95, 125, 0.15);
                    border-radius: 5px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    padding-right: 10px;
                    
                    //repeted
                    input{
                        border: none;
                        outline: none;
                        width: 70%;
                        padding: 10px;
                        background-color: white;

                        &:focus{
                            outline: none; 
                        }

                        &::placeholder{
                            color: 
                            rgba(84, 95, 125, 0.727)
                            ;
                        }
                    }
                    .show-btn{
                        border: none;
                        background-color: white;
                        color: $loginprimary;
                        
                        width: 20%;

                        &:hover{
                            cursor: pointer;
                        }
                    }

                }
                .forgot-password{
                    color: $loginprimary;
                    font-weight: bold;
                    font-size: 0.9rem;
                    margin-bottom: 20px;
                }
                .submit-btn{
                    width:70%;
                    color: white;
                    background-color: $loginprimary;
                    border: 1px solid $loginprimary;
                    padding: 10px 0;
                    border-radius: 8px;

                    &:hover{
                        cursor: pointer;
                        background-color: white;
                        color: $loginprimary;
                    }
                }
            }
            
        }
    }
}


@media only screen and (max-width: $tablet) {
    /* For desktop: */
    .login{
        .left-side{
            .pablo img{
                width: 300px;
                height: 200px;
            }
        }
    }
    
  }
  @media only screen and (max-width: $phone) {
    /* For desktop: */
    .login{
        .left-side{
           display: none;
        }
        .right-side{
            width: 90%;
            margin: 0 auto;

            &-form{
                width: 100%;
                text-align: center;

                .email-form , .password-form{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    
  }