$primary : #39CDCC;
$background: #c4c0c00f;
$secondary: rgba(33, 63, 125, 1);
$active:rgba(57, 205, 204, 0.06);
$dash-text: #545F7D;

$font :'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.user-side{
    width: 80%;
    font-family: $font;
    background-color: #c4c0c005;;

    &-container{
        width: 85%;
        margin: 0 auto;

        & h1{
            margin:0;
            color: $secondary;
        }
        & > h1{
            margin: 35px 0;
        }
    }
    .card-users{
        display: flex;
        align-items: center;
        gap: 20px;
        
    }
    // .card-users{
    //     display: flex;
    //     align-items: center;
    //     gap: 20px;
    // }
    // .card-user{
    //     flex: 1;
    //     border: 1px solid rgba(33, 63, 125, 0.06);
    //     box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    //     border-radius: 4px;
    //     padding: 15px;
    //     background-color: #ffff;

    //     & p{
    //         color: $dash-text;
    //         font-size: 0.9rem;
    //     }
    
    //     & h1{
    //         color: $secondary;
    //         font-size: 1.2rem;
    //     }
    // }
    

}

