$primary : #39CDCC;
$background: #c4c0c00f;
$secondary: rgba(33, 63, 125, 1);
$active:rgba(57, 205, 204, 0.06);
;

$font :'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.user-side{
    width: 80%;
}

