$primary : #39CDCC;
$background: #c4c0c00f;
$secondary: rgba(33, 63, 125, 1);
$active:rgba(57, 205, 204, 0.06);
$dash-text: #545F7D;

$font :'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.users-side{
    width: 90%;
    font-family: $font;
    background-color: #c4c0c005;

    &-container{
        width: 95%;
        margin: 0 auto;

        & h1{
            margin:0;
            color: $secondary;
        }
        & > h1{
            margin: 35px 0;
        }

        .card-users{
            display: flex;
            align-items: center;
            gap: 20px;
            
        }

        & footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            margin-top: 20px;
            padding: 20px 0;

            .show-result{
                width: 200px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & p{
                    color: $secondary;
                    margin: 0;
                }

            }
            
            .pagination{
                list-style: none;
                display: flex;
                align-items: center;

                .page-item{
                    margin: 0 10px;
                    color:rgb(81, 99, 151);
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
                .selected{
                    color: black
                    
                }
                .arrow-item a{
                    background: rgba(33, 63, 125, 0.1);
                    border-radius: 4px;
                    color: rgba(33, 63, 125, 1);
                    padding: 5px 8px;

                    &:hover{
                        cursor:pointer;
                    }
                }
                // work on this later to make it show
                li.arrow-item.disabled a{
                    color:rgba(0, 0, 0, 0.529) ;
                    background: rgba(33, 64, 125, 0.034);
                    
                }
            }

        }

    }
    
    

}

