
$secondary: rgba(33, 63, 125, 1);
$dash-text: #545F7D;



.card-user{
    flex: 1;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 15px;
    background-color: #ffff;

    & p{
        color: $dash-text;
        font-size: 0.9rem;
    }

    & h1{
        color: $secondary;
        font-size: 1.2rem;
    }
}